_site

# Jekyll Cache
.jekyll-cache/
.jekyll-metadata

# User Configuration
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Operating System-Specific Files (global)
.DS_Store
Thumbs.db

# Bundler Dependencies Folder within src/
.bundle/
src/vendor/
src/vendor/bundle

# Node.js Dependencies within src/
src/node_modules/

# Node.js Build Folder within src/
src/dist/

# Backup Files, Swap, etc. (global)
*~
*.swp
*.tmp
*.bak
*.sublime*
*code-workspace

# Backup File for Translations in JavaScript within src/
src/src/assets/js/translations-backup.js