<!DOCTYPE html>
<html lang="{{ page.langtag }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" type="image/x-icon">

    <link rel="alternate" hreflang="x-default" href="{{site.url}}/en/">

    {% for transl in site.translations %}
    {% if transl.langtag %}
    <link rel="alternate" hreflang="{{ transl.langtag }}" href="{{site.url}}/{{transl.langtag}}/" />
    {% endif %}
    {% endfor %}
    
</head>

<body class="{{ page.direction }} {% if page.direction contains 'vertical' %} vertical-layout {% endif %} ">
    <div class="container">
        <div class="language-selector">
            <select id="language-select" aria-label=" {{ page.selectAriaLabel }}" onchange="redirectToLangTagSite(this.value)">
                {% for transl in site.translations %}
                {% if transl.langtag and transl.englishLang and transl.lang %}
                <option value="{{ transl.langtag }}" {% if page.langtag==transl.langtag %}selected{% endif %}>
                    {{ transl.englishLang }} - {{ transl.lang }}
                </option>
                {% endif %}
                {% endfor %}
            </select>
            <button class="{{ page.direction }}" type="button" onclick="goToRandomLanguagePage()">{{ page.buttonRandom }}</button>
        </div>
        <div id="quote-container">
            <blockquote id="quote" class="blockquote">
                <p class="quote-text"> {{ page.quote }}</p>
                <footer> {{ page.reference }} </footer>
            </blockquote>
            <div id="image">
                <img src="{{ '/assets/images/375px-PtolemyV-SilverTetradrachm-BackgroundKnockedOut-ROM-Dec29-07.png' | relative_url }} "
                    alt="{{page.imageAlt}}">
            </div>
        </div>
    </div>
    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
</body>

</html>